/*
font-family: 'Yellowtail', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Crimson Text', serif;

font-family: 'Anton', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive;
*/

body{
  width: 960px;
  margin: auto;
  padding: 3% 0;
}

nav a img{
  margin-top: 15px;
}

span.tab {
  margin-left: 25px;
}

#logo-img, #face {
  float: left;
}

#logo-img {
  width: 10%;
  height: 10%;
  margin-top: 10px;
  padding-right: 5px;
}

#face {
  margin-right: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#logo-link {
  display: inline-block;
  width: 35%;
  text-decoration: none;
}

.logo-div h1, .logo-div h4{
  height: 25px;
}



header h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-style: italic;
  height: 35px;
  color: black;

}

footer h3, footer p {
  font-family: 'Crimson Text', serif;
}

header h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 60%;
  text-transform: uppercase;
}

footer article {
  display: inline-block;
}

footer article p, footer article h3 {
  margin: 0;
}

footer article h3 {
  margin: 8px 0;
}

#share-recipe {
  float: right;
  margin: 2%;
  margin-right: 0;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  color: #D4D4D4;
  text-transform: uppercase;
  background-color: #A63C00;
  border: none;
}

#header-nav {
  float: right;
}

.funky-line {
  display: inline-block;
  height: 8px;
  width: 100%;
  background-image: url('img/hr-img.png');
}

.funky-line.first{
  margin-bottom: 20px;
  margin-top: 10px
}

nav span {
  display: inline-block;
  width: 5px;
}

h4 {
  color: grey;
  margin: 0 0 10px 0;
}

h1 {
  margin-bottom: 10px;
  padding-bottom: 0;
  margin: 0 0 10px 0;
  padding: 0;
}

p {
  color: #444444;
}

li {
  list-style-type: none;
}

.print {
  float: right;
  display: inline-block;
}

.print-icon {
  margin-left: 650px;
}

img.main-img {
  width: 100%;
}

.hero {
  width: 960px;
  margin: auto;
}

.list-container {
  background-color: #ffffcc;
  background: url('img/list-bg.png');
  padding: 10px 0 50px 0;
  margin: 20px 0;
  height: 115px;
  border-bottom: solid 3px grey;


}

.clear {
  clear: both;
  overflow: auto;
}

.list-1, .list-2 {
  float: left;
  margin-left: 100px;
}

.list-2 {
  padding-left: 100px;
}

input[type="checkbox"] {
  background-color: rgba(0, 0, 0, 0);
}
